<h3>Pie Chart using Highcharts</h3>
<!-- <p *ngFor="let data of years">{{data.educationYear}}</p> -->
<div class="row">
    <div class="col-6">
        <select [(ngModel)]=sel>
            <option value="Select">Select</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
        </select>
        <button (click)="showPieChart()">Show Chart</button>
        <button mat-flat-button color="primary" (click)="showPieChart()">Show Chart</button>

        
        <chart [options]="options"></chart>
    </div>
</div>